HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
vcpkg
./vcpkg
.gitignore
C:/Users/casta/OneDrive/Desktop/vscode/messages/main/src/main/java/com/app/main/root/app/_crypto/password/build
./src/main/java/com/app/main/root/app/_crypto/password/build

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### VS Code ###
.vscode/
