<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="content">
<head>
    <title>Server</title>
    <link rel="stylesheet" href="/main/styles/interface.css">
    <script>
        window.configReady = new Promise((resolve) => {
            window.configResolve = resolve;
        });
    </script>
    <script src="/main/public/url.js"></script>
    <script th:inline="javascript" src="/main/public/api-url.js"></script>
    <script>
        if (typeof window.configResolve === 'function') {
            console.log('Configurations loaded, resolving promise...');
            window.configResolve();
        }
    </script>
    <script src="/main/public/update-time-status.js"></script>
    <script src="/main/public/update-uptime.js"></script>
    <script src="/main/public/update-connections.js"></script>
    <script src="/main/public/check-client-status.js"></script>
</head>
<body>
    <div id="container">
        <p id="ms--wel" th:text="${welcome}">------ Welcome to Server! :) ------</p>
        <p id="ms--version" th:text="${version}">--------- Messages Server ---------</p>
        <div id="ms--time" data-auto-time-update th:attr="data-server-time=${serverTime}">
            <p>Time:&nbsp;</p><span th:text="${currentTime}"></span>
        </div>
        <div id="ms--status">
            <p>CLIENT STATUS: <b id="client-status">Checking...</b></p>
            <p>UPTIME: <span id="uptime-display">0s</span></p>
            <p>CONNECTIONS: <span id="connections-display">0</span></p>
        </div>
        <div id="api-status">
            <p>API Gateway: <b id="api-gateway-status">Checking...</b></p>
        </div>
    </div>
</body>
</html>