<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="content">
<head>
    <title>Server</title>
    <script th:inline="javascript" src="/public/api-url.js"></script>
    <script src="/public/time-updater.js"></script>
</head>
<body>
    <div id="container">
        <p id="ms--wel" th:text="${welcome}">Welcome to Server! :)</p>
        <p id="ms--version" th:text="${version}">Messages Server v1.0</p>
        <p id="ms--time" data-auto-time-update th:attr="data-server-time=${serverTime}">
            Time: <span th:text="${currentTime}"></span>
        </p>
        <div id="ms--status">
            <p>STATUS: </p>
            <p>UPTIME: <span th:text="${uptime}"></span></p>
            <p>CONNECTIONS: <span th:text="${connections}"></span></p>
        </div>
        <div id="ms--route">
            <p>ROUTES: 
                <span th:text="${url}">http://localhost:3000</span>
                <span th:text="${url}">http://localhost:3001</span>
                <span th:text="${url}">http://localhost:3002</span>
            </p>
        </div>
        <div id="api-status">
            <p>API Gateway: <b id="api-gateway-status">Checking...</b></p>
        </div>
    </div>
</body>
</html>